@font-face {
  font-family: "ALS Hauss";
  src: url("../fonts/ALS_Hauss-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "ALS Hauss";
  src: url("../fonts/ALS_Hauss-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Bold-Web.woff");
}

body {
  color: #2b2d33;
  letter-spacing: 0em;
  font-family: "ALS Hauss", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 500;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}

.header-logo {
  width: 153px;
  height: 32px;
  margin-left: 32px;
}

.header-content {
  list-style: none;
  display: flex;
  margin-right: 24px;
  align-items: center;
}

.header-name p {
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
  line-height: 22px;
  text-align: right;
}

.header-avatar {
  margin-right: 20px;
}

/* main */
/* section 1 */
main {
  max-width: 960px;
  margin: auto;
}

.main-item {
  background-color: rgba(207, 241, 233, 1);
  height: 300px;
  border-radius: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.main-item-info {
  position: relative;
  top: 40px;
  left: 48px;
  text-align: left;
}

.main-item-info > p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.main-title {
  text-align: left;
}

.main-title > h1 {
  font-family: "Navigo", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 24px;
}

.main-title > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 12px;
}

.course-btn {
  width: 197px;
  height: 48px;
  background-color: rgba(43, 45, 51, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  padding: 11px, 24px, 11px, 24px;
  border-radius: 8px;
  margin-top: 36px;
}

.girl-on-rocket {
  position: absolute;
  right: -15px;
  top: 1px;
}

.cloud {
  position: absolute;
  /* width: 50px; */
  /* height: 50px; */
  right: 1px;
  bottom: 1px;
}

/* section 2 */
.all {
  margin-top: 24px;
  margin-bottom: 24px;
}

.all h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  font-family: "Navigo", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chips {
  display: flex;
  list-style: none;
  padding: 0;
}

.chip {
  display: inline-block;
  border-radius: 16px;
  padding: 5px 16px;
  align-items: center;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.chip-inactive {
  background: #f4f4f4;
}

.chip-active {
  background: #2b2d33;
  color: #fff;
}

/* news section */
.news-parent {
  display: flex;
}

.news-child {
  padding: 12px 8px;
}

.first {
  width: 109px;
  text-align: center;
}

.first p {
  margin: 0;
}

.second {
  width: 372px;
}

.second p {
  margin: 0;
}

.third {
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.third > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.fourth {
  width: 193px;
}

.fifth {
  width: 202px;
}

.date-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.news-small-text {
  font-family: "ALS Hauss", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #aaabad;
}

.register-btn {
  padding: 7px 20px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #d5d5d6;
  background-color: white;
  font-size: 14px;
  line-height: 22px;
}

.register-inactive-btn {
  border: 2px solid #e9eaea;
  color: rgba(43, 45, 51, 0.24);
}

.link-text {
  color: #00a5bc;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) and (min-width: 800px) {
  .girl-on-rocket {
    top: -40px;
    width: 400px;
    height: 400px;
  }

  .fourth {
    display: none;
    width: 84px;
  }

  .second {
    width: 350px;
  }

  main {
    max-width: 736px;
  }
}

@media (max-width: 799px) {
  body {
    font-size: 14px;
  }

  main {
    max-width: 416px;
  }

  .main-item {
    height: 190px;
    position: none;
  }

  .main-item-info {
    display: flex;
    flex-direction: column;
    top: 24px;
    left: 24px;
  }

  .main-title > h1 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 12px;
  }

  .course-btn {
    width: 164px;
    height: 32px;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 17px;

    margin-top: 12px;
  }

  .girl-on-rocket,
  .cloud {
    display: none;
  }

  .all h2 {
    font-size: 24px;
  }

  .chip {
    font-size: 12px;
    padding: 3px 12px;
  }

  .news-parent {
    flex-direction: column;
  }

  .news-child {
    padding: 0;
  }

  .first {
    justify-content: space-between;
    display: flex;
    width: 100%;
    /* align-self: stretch; */
  }

  .second {
    margin-top: 4px;
  }

  .second > p {
    line-height: 22px;
  }

  .news-small-text {
    margin-top: 4px;
    line-height: 18px;
  }

  .third {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .mobile > p {
    display: none;
  }

  .fourth {
    display: none;
  }

  .fifth {
    margin-bottom: 24px;
  }

  .register-btn {
    padding: 3px 12px;

    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
  }
}
